.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-sm);
    line-height: var(--text-xs--line-height);
    opacity: 1;
    padding: var(--spacing-md);
}

.nav_item {
    overflow: hidden;
    cursor: pointer;
    margin: 0 var(--spacing-sm);

}
.nav_item p {
    /* transform: translate(0, 100%); */
    transition: 0.75s;
}



.nav_item p:hover {
    opacity: 0.5;
}