.feature {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.detail {
    position: absolute;
    right: var(--spacing-md);
    top: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--radius-lg);
    background-color: var(--color-gray);
    width: 300px;
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    font-family: var(--font-mono);
}